@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    justify-items: center;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);

}

body {
    background-color: #201b2c;
}


a {
    text-decoration: none;
    color: #3ac9a5;
    font-family: 'Fredoka', sans-serif;
    font-size: 25px;
    text-shadow: 0.1em 0.1em 0.1em #00ff884b;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    color: #3ac9a5;
    text-shadow: 0.2em 0.2em 0.2em black;
}

img {
    max-width: 100%;
    display: block;
    position: relative;
}

header {
    margin-bottom: 20px;
    top: 0;
    width: 1329px;
    height: none;
    background-color: #3ac9a5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  0.2em 0.2em 0.2em black;
}

.header>a img {
    float: left;
    width: 80px;
    height: 80px;
    cursor: pointer;
    cursor: hand;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #201b2c;
    border-radius: 10px;
    box-shadow: 0.2em 0.2em 0.2em black;
    color: black;
    margin: 2px;
}

.menu li a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.manager {
    display: flex;
    justify-content: space-between;
    background-color: #3ac9a5;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-left: 5px;
}

.manager button:hover{
    
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.manager button {
    background: #0066A2;
    color: white;
    border-radius: 15px;
    border-style: hidden;
    border-color: #0066A2;
    height: 40px;
    width: 85px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    box-shadow: #0c0c13 0.2em 0.2em 0.2em;
    cursor: pointer;
}

.manager li {
    margin-left: 10px;
}

.manager li a {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #201b2c;
    border-radius: 10px;
    box-shadow: 0.2em 0.2em 0.2em black;
    color: white;
    margin: 2px;
}

.manager li a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);}

.flexbox-redirect {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    margin: auto;
    box-shadow: 5px 5px 60px #494242;
    border-radius: 25px;
    background-color: #201b2c;
}

.flexbox-redirect>div {
    flex: 200px;
    margin: 10px 10px;
    border: 2px;
    border-color: #3ac9a5;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 30px 20px 40px #0c0c13;
}

.flexbox-redirect div:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
    box-shadow: 5px 5px 60px #494242;
    border-radius: 25px;
    background-color: #201b2c;
}

.flexbox>div {
    flex: 200px;
    margin: 10px 10px;
    border: 2px;
    border-color: #3ac9a5;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 30px 20px 40px #0c0c13;
}


.flexbox div:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

}

.main-login {
    width: 100%;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login>h1 {
    font-family: 'Fredoka', sans-serif;
    color: #77ffc0;
    border-radius: 10px;
    background: #2f2841;
    box-shadow: 0px 10px 40px #00000056;
    padding: 15px 15px;
}

.right-login> {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;

}



.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 10px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login>h1 {
    font-family: 'Fredoka', 'sans-serif';
    font-size: 50px;
    color: #00ff88d3;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 5px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.toggle
{
    display: none;
}

.toggle + label 
{
    width: 32px;
    height: 20px;
    background: lightgray;
    display: block;
    position: relative;
    border-radius: 20px;
    padding: 2px;
    transition: 200ms;
    cursor: pointer;
}

.toggle + label:before 
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    display: block;
    border-radius: 50%;
    right: unset;
    left: 2px;
    top: 2px;
    transition: 200ms;
}

.toggle:checked + label
{
    background: blue;
}

.toggle:checked + label:before
{
    content: '';
    left: calc(100% - 22px);
    box-shadow: 0 4px 4px rgb(0 0 0/10%);
}

.textfield>label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #f0fffc94;
}

.btn-admin{
    width: 100%;
    padding: 15px 5px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.btn-login {
    width: 100%;
    padding: 15px 5px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

table,
th,
td {
    margin: 5px;
    width: 100%;
    border: 1px solid;
    border-color: white;
    color: white;
}

.btn-list {
    width: 100%;
    padding: 15px 5px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #4deba1a9;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

/** page partners**/
.store_container {
    display: flex;
    flex-direction: row;
    margin: 10px;


}

.store_cash {
    display: flex;
    height: 190px;
    width: 190px;
    border: #4deba1a9 2px;
    border-radius: 15px;
    border-style: solid;
    box-shadow: 0.8em 0.8em 0.8em #050505f3;
    padding: 0px;
    background-color: #363146;
    color: #4deba1a9;
    margin: 5px;
    text-shadow: 0.8em 0.8em 0.8em black;
}

.store_cash img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.store_cash>a {
    font-size: 25px;
}

.store_cash>a img {
    width: 100%;
    height: 100%;
}



.container_info {
    padding: 10px;
    width: 100%;
    display: grid;
    border: #4deba1a9 2px solid;
    border-radius: 15px;
    margin: 5px;
    text-align: justify;
    color: #4deba1a9;
    background-color: #363146;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0.8em 0.8em 0.8em black;
    text-shadow: 0.2em 0.2em 0.2em black;
}

/**login**/

.container-1 {
    display: flex;
    justify-content: space-between;
    background-color: #3ac9a5;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

.container-1>a img
{
    width: 100px;
    height: 80px;
    cursor: pointer;
    cursor: hand;
    background-repeat: no-repeat;
}

.navbar-nav-ml-auto
{
    display: flex;
}

#navbarSupportedContent {
    display: flex;
}



.navbar-nav-mr-auto>a img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    cursor: hand;
    background-repeat: no-repeat;
}

.navbar-nav-ml-auto li 
{
    margin-left: 10px;
}

.navbar-nav-ml-auto li a
{   
    float: right;
    padding: 10px;
    background-color: #201b2c;
    border-radius: 10px;
    box-shadow: 0.2em 0.2em 0.2em black;
    color: white;
    margin: 2px;
}


.navbar-nav-ml-auto li a:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.row-justify-content-center
{
    display: flex;
    justify-content: center;
    margin: 1.8% 40% 0% 40%;
    background-color: #3ac9a5;
    border-radius: 15px;
    box-shadow: 0.2em 0.2em 0.2em;
}

.card {
    display: grid;
    margin: 25px;
}

.card-header {
    color: whitesmoke;
    background-color: #201b2c;
    border-radius: 10px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 5px;
    box-shadow: 0.2em 0.2em 0.2em black; 
}

.card-body {
    margin: 50px;
}

.form-group-row {
    color: black;
    font-size: 25px;
}

#email {
    border-radius: 10px;
    font-size: 18px;
}

#name
{
    border-radius: 10px;
    font-size: 18px;
}

#password {
    border-radius: 10px;
    font-size: 18px;
}

#password-confirm
{
    border-radius: 10px;
    font-size: 18px;
}

.form-check-label
{
    font-size: medium;
}

.btn-btn-primary {
    background: #0066A2;
    color: white;
    border-radius: 35px;
    border-style: hidden;
    border-color: #0066A2;
    height: 40px;
    width: 85px;
    font: bold 15px arial, sans-serif;
    text-shadow: none;
    cursor: pointer;
}

.btn-btn-primary:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.btn-btn-link
{
    font-size: 15px;
    color: black;
}
.btn-btn-reset
{
    background: #0066A2;
    color: white;
    border-radius: 35px;
    border-style: hidden;
    border-color: #0066A2;
    height: 30px;
    width: 180px;
    font: bold 15px arial, sans-serif;
    margin: 5px;
    text-shadow: none;
    cursor: pointer;
}

/**footer**/

footer {
    margin-top: 20px;
    display: flex;
    padding: 25px;
    width: 1300px;
    height: none;
    background-color: #3ac9a5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow:  0.2em 0.2em 0.2em black;
}